body {
  font-family: arial;
}

.song-details {
  &__about {
    padding: 0 0 50px 0;
    &__title {
      font-size: 2em;
      font-weight: bold;
    }
    &__author {
      font-size: 1.5em;
    }
    &__rythm {
    }
  }
  & > iframe {
    margin-bottom: 50px;
    max-width: 100%;
  }
  &__video {
    &-warning {
      color: red;
      font-weight: bold;
      padding: 0 0 10px 0;
    }
    &-message {
      color: green;
      font-weight: bold;
      padding: 0 0 10px 0;
    }
  }
  &__section {
    padding: 0 0 30px 0;
    &__name {
      font-size: 1.5em;
      font-weight: bold;
    }
    &__structure {
    }
    &__chords {
    }
    &__comment {
      background: #fffbd3;
      color: #77702c;
      padding: 5px 0;
    }
  }
  &__marker {
    background: yellow;
    padding: 10px;
    margin: 0 0 30px 0;
  }
}

.song-list {
  & > a {
    display: block;
    background: #afe2ff;
    padding: 10px;
    margin: 0 0 20px 0;
    & > span {
      display: block;
      &:first-child {
        font-weight: bold;
      }
    }
  }
}

.song {
  h1 {
    margin-bottom: 50px;
  }
  div {
    margin-bottom: 60px;
  }
  p {
    font-size: 20px;
  }
}
